<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Game Result</title>
    <style>
      div.transbox {
      margin: 200px;
      background-color: #3d3939;
      border: 1px solid black;
      opacity: 0.8;
    }

      body {
        background-image: url('https://static.tnn.in/thumb/msid-101491536,updatedat-1688645651256,thumbsize-49600,width-1280,height-720,resizemode-75/101491536.jpg');
        background-color: #A0B2A6;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }
      h1 {
        font-family: 'Courier New', Courier, monospace;
        font-size: 300%;
        text-decoration: underline;
        color:aqua
    }
      h2 {
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        text-decoration: underline overline;
        color: #e67979;
    }
      h3 {
        color: #99d439;
    }

      p {
        font-weight: bolder;
        color: #ffffff;
        font-style: normal;
    }
      </style>
</head>
<body style="text-align:center">
  <div class="transbox">
  <h1>Game Result</h1>
  <h2>Scores:</h2>
  <% settings.player_scores.each do |player, score| %>
    <p><%= player %>: <%= score %> points</p>
  <% end %>
  
  <h2>Rounds Played:</h2>
  <% @results.each do |result| %>
    <h3>Round <%= result[:round] %></h3>
    <p>Player's Choice: <%= result[:player_choice] %></p>
    <p>Computer's Choice: <%= result[:computer_choice] %></p>
    <p>Result: <%= result[:result] %></p>
  <% end %>
    <form action="/" method="GET">
      <input type="submit" value="Play Again">
    </form>
</div>
</body>
</html>